.test
    position relative
    background-color $c-blue
    height 100vh
    +below(768px)
        height 100%
        

    &[data-id="1"]
        .test__text_2
            right w(790)

    &[data-id="3"]
        .test__text_2
            right w(720)

    &[data-id="5"]
        .test__text_1
            left w(720)

    &__title
        text-align center
        font-family $ff-FuturaPT
        font-size w(15)
        font-weight 700
        line-height 1.5
        text-transform uppercase
        padding w(8) w(90) 0 w(90)
        color $c-white
        +below(1200px)
            font-size wm(20)
            padding wm(8) wm(60) 0 wm(60)
        +below(720px)
            font-size wm(30)
            padding wm(10) 0 0 0

    &__counter
        color $c-yellow
        text-align center
        font-family $ff-BebasNeue
        font-size w(30)
        font-weight 700
        text-transform uppercase
        +below(720px)
            font-size wm(50)

    &__list
        position relative
        height 100%
        display flex
        flex-flow column
        justify-content center
        +below(720px)
            justify-content center
    
    &__item
        cursor pointer
        margin-top w(8)
        +below(1200px)
            margin-top wm(8)
        +below(720px)
            margin-top wm(20)

    &__sign
        position relative
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-end

        span
            color $c-yellow
            font-family $ff-BebasNeue
            font-size w(20)
            font-weight 700
            text-transform uppercase
            +below(1200px)
                font-size wm(40)
            +below(720px)
                font-size wm(54)

    &__wrap
        position relative
        display flex
        flex-flow column
        padding 3%
        margin 0 auto
        z-index 1
        height 100vh
        +below(1200px)
            width 100%
            height 100vh
            padding 3% 5% 5% 5%
        +below(720px)
            padding-top 4%
            height 100%
        +below(720px)
            padding-top 4%
            height 100vh
       
    &__text
        font-family $ff-FuturaPT
        color $c-white
        font-size w(15)
        font-weight 700
        line-height normal
        text-transform uppercase
        padding-left w(10)
        transition transform .3s
        +below(1200px)
            font-size wm(20)
        +below(720px)
            font-size wm(30)

    &__bg
        position absolute
        left 15%
        width 60vw
        top 5%
        img
            width 100%

        +below(1400px)
            width 80vw
            left 10%
        +below(720px)
            left 0
            width 100vw
            top 20%
