mixin answer()
    +b.answer
        +e.wrap
            +e.title Правильный ответ:
            +e.text на момент полёта, Фёдору Конюхову было 64 года.
            +e('button').button далее 

        +e.bg 
            img(src='./images/fon-questions.png')