.questions
    position relative
    background-color $c-blue
    height 100vh

    &__wrap
        position relative
        padding-top w(40)
        width w(900)
        height 100vh
        margin 0 auto
        +below(1200px)
            width 100%
            padding wm(40) wm(45)

    &__bg
        position absolute
        top w(50px)
        left 0
        width 100%
        img
            width 100%

        +below(1200px)
            top wm(50px)

    &__title,
    &__variants
        position relative
        z-index 1

    &__title-number
        color $c-yellow
        text-align center
        font-family Bebas Neue
        font-size w(88)
        font-weight 700
        text-transform uppercase
        +below(1200px)
            font-size wm(24)

    &__title-text
        color $c-white
        text-align center
        font-family Futura PT
        font-size w(40)
        font-weight 700
        line-height 1.5
        text-transform uppercase
        padding-top w(8)
        +below(1200px)
            font-size wm(10)

    &__answer
        display flex
        align-items flex-end
        cursor pointer
        padding-top w(10)
        &:first-child
            padding-top w(77)
        span
            color $c-yellow
            font-family Bebas Neue
            font-size w(88)
            font-weight 700
            text-transform uppercase
            +below(1200px)
                font-size wm(22)

    &__answer-text
        color $c-white
        font-family Futura PT
        font-size w(48)
        font-weight 700
        line-height normal
        text-transform uppercase
        padding-left w(10)
        +below(1200px)
            font-size wm(12)
            padding-left wm(10)



    