mixin questions()
    +b.questions
        +e.wrap
            +e.title
                +e.title-number Вопрос 1
                +e.title-text Сколько лет было Фёдору Конюхову на момент полёта?

            +e('ol').variants
                +e('li').answer
                    span A.
                    +e.answer-text(data-id='А')
                +e('li').answer
                    span Б.
                    +e.answer-text(data-id='Б')
                +e('li').answer
                    span В.
                    +e.answer-text(data-id='В')

        +e.bg 
            img(src='./images/fon-questions.png')


