extends /blocks/layout-default/layout-default
include /blocks/test/test
include /blocks/popup/popup
include /blocks/result/result


block head
	- var pageTitle = 'Повелитель ветра';

block content
	+test()
	+popup()
	+result()
