extends /blocks/layout-default/layout-default
include ../blocks/questions/questions
include ../blocks/answer/answer

block head
	- var pageTitle = 'Повелитель ветра';

block content
	+questions
	+answer
